<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <listener>
        <listener-class>com.sun.jersey.spi.pico.container.servlet.example.GoodbyeProviderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>hello-service</servlet-name>
        <servlet-class>com.sun.jersey.spi.pico.container.servlet.PicoServlet</servlet-class>
        <init-param>
            <param-name>pico.configuration.class</param-name>
            <param-value>com.sun.jersey.spi.pico.container.servlet.example.HelloConfiguration</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>goodbye-service</servlet-name>
        <servlet-class>com.sun.jersey.spi.pico.container.servlet.PicoServlet</servlet-class>
        <init-param>
            <param-name>pico.provider.key</param-name>
            <param-value>goodbye.provider</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello-service</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>goodbye-service</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>

</web-app>
